.lineClamp {
    /* display: none; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}